
@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";

.container{

 @include padding; // usei o @include pois não coloquei variável para referir ao padding   
color: $white-color; //variável de cor
padding-top: 34px ;
padding-bottom: 34px ;
width: 100%;
background-color: $purple-color;
border-bottom: 0.5px solid $gray-color;
display: grid;
grid-template-columns: repeat(3, 1fr);
align-items: center;
justify-content: space-between;

@include  Phone{
    padding-top:  1rem;
    padding-bottom: 1rem;
 }
 @include  Tablet{
    grid-template-columns: repeat(2,1fr);
 }
 @include  Laptop{
    grid-template-columns: repeat(2,1fr);
 }
} 

.menu {

   font-size: 22px;
 
    a+a{
        margin-left: 38.9px;
    } //a+a= quando um link estiver seguido de outro

   @include Phone{
    display: none;
   }
}

.action{
    text-align: end;
    @include Phone{
        display: none;
       }
       @include Tablet{
        display: none;
       }
       @include Laptop{
        display: none;
       }



    
}


.button{
    padding: 15px 50px; //15px= em cima e em baixo....50px=aos lados
    border-radius: 5px;
    border: none;
    
    font-size: 16px;
    font-weight: bold;
    background-color: $green-color;
    color: $white-color;
    
    
}