@import "/styles/mixins/colors.scss";
@import "/styles/mixins/responsive.scss";
@import "/styles/mixins/fonts.scss";

.input{
    padding: 22px 17px;
    background-color: $gray3-color;
    border: none;
    font-size: 19px;
    font-weight: 300;
    color: $gray4-color;
    opacity: 0.7;
    width: 525px;
    height: 66px;
    border-radius: 10px;

    &+&{
        margin-top: 23px;
    }
@include Phone{
    @include sizeNormal;
    
}

}

