
@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";

.container{
    @include padding;
    background-image: url("/images/fundoWelcome.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 219px;
    width: 100vw;
    display: grid;
  

    grid-template-columns: repeat(2, 1fr);
}

.text{
    h1{
      
        font-weight: bold;
        font-size: 71px;
        color: $white-color;
  
    }

    p{
        font-size: 30px;
       margin-top: 40px;
        opacity: 0.7;
        color: $white-color;
    }
}

.button{
    padding: 15px 50px; //15px= em cima e em baixo....50px=aos lados
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: $white-color;
    color: $purple-color;

}

.image{
    text-align: end;

}