
@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";
@import "/styles/mixins/fonts.scss";
.container{
    @include padding;
    background-image: url("/images/fundoWelcome.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 219px;
    width: 100vw;
    display: grid;
  

    grid-template-columns: repeat(2, 1fr);

    @include Phone{
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }
}

.text{
    h1{
        @include sizeExtra;

        
        font-weight: bold;

        color: $white-color;

        @include Phone{
            margin-left: 1rem;
        }
  
    }

    p{
        @include sizeNormal;
       margin-top: 40px;
        opacity: 0.7;
        color: $white-color;
    }


}

.button{
    padding: 15px 50px; //15px= em cima e em baixo....50px=aos lados
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: $white-color;
    color: $purple-color;
    @include botao;
    @include Phone{
        margin-left: 50px;
    }

}

.image{
    text-align: end;

    @include Phone{
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        margin-top: 12rem;
        margin-left: -3rem        
    }

}

.banner{
    @include Phone{
        @include Banner;
    }
}