
@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";
@import "/styles/mixins/fonts.scss";
@import "/styles/mixins/responsive.scss";


.container{

    @include padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 255px;



     h1{
        text-align: center;
        width: 845px;
        @include sizeLarge;
        font-weight: bold;
        color: white;

        @include Phone{
            margin-top: -4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -1rem;
        }
     
     }

     p{
        width: 828px;
        text-align: center;
        @include sizeMedium;
        color: white;
        opacity: 0.7;
        margin-bottom: 8rem;
       
        @include Phone{
        
            margin-bottom: 2rem;
            margin-top: 3rem;
        }
     
       
     }

     h1,p{
        @include Phone{
            width: 100%;
        }
     }

     
}


.features{
    display: grid; //display grid permite dividir os elementos em colunas
    grid-template-columns: repeat(2, 1fr); //2 colunas
    gap: 68px;
    @include Phone{
        grid-template-columns: 1fr;
        gap: 32px;

    }





}   


.feature{
    
    width: 509px;
    height: 347px;
    padding: 32px 35px;
    background: $white-color;
    border-radius: 5px;
    
    h1 {
        margin-top: 18px;
        font-weight: bold;
        font-size: 41px;
        color: $purple2-color;
        width: auto;
        text-align: left;
        @include Phone{
            margin-left: -2rem;
            width: 200px;
            font-size: 1.4rem;
            margin-top: 1rem;
        }
        
    }
    p{
        margin-top: 18px;
        @include sizeSmall;
        color: #4A4A4A;
        width: auto;
        text-align: left;
        @include Phone{
            margin-top: 2rem;
        }
        
    }
    @include Phone{
        width: 100%;
        height: 100%;
        padding: 20px;
    }
 


}

