
@import "/styles/mixins/padding.scss";
@import "/styles/mixins/colors.scss";
@import "/styles/mixins/fonts.scss";
@import "/styles/mixins/responsive.scss";


.container{
    @include padding;
    padding-top: 72px;
    background-color: $purple3-color;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    @include Phone{
        grid-template-columns: 1fr;
    }
}

.img{
    margin-bottom: 4rem;
    @include Phone{
        margin-top: 2rem;
    }
}



.column{
    
    
    margin-top: 4rem;

    

  
   
    h1{
        font-size: 24px;
        color: $green2-color;
        margin-bottom: 2rem;
        margin-top: 3rem;
     
        @include Phone{
            margin-top: -2rem;
        }

    }

    p{
        margin-top: 8px;
        font-size: 22px;
        color: $white-color;
    }
    a{
       padding: 8px;
       justify-content: right;
       

    }
}

 .alignRight{
    text-align: center;
    @include Phone{
        margin-left: -16rem;
    }
}


.icon{
 display: flex;
 justify-content: center;
 align-items: center;

 @include Phone{
    margin-top: 0px;
    margin-left: -8rem;
    
    

 }
}


.title{
        
    font-size: 29px;
    color: $white-color;

    @include Phone{
        margin-top: -2rem;
    }
    
}

.paragrafo{
    margin-top: 2rem;
    color: $white-color;
    @include sizeSmall;

    @include Phone{
        @include sizeMedium;
    }
}
.allRightReserved{
    padding: 6rem 0 1rem;
    font-size: 20px;
    color: $gray-color;
    grid-column: span 4;
    text-align: center;

    @include Phone{
        grid-column: 1;
    }

}




